# Ustawienia serwera (Inny port niż backend!)
PORT=3001

# Połączenie z bazą danych (Baza: erp_orders)
DATABASE_URL="postgresql://login:haslo@localhost:5432/erp_orders?schema=public"

# URL do komunikacji między mikroserwisami
USER_SERVICE_URL="http://localhost:3000"