# Ustawienia serwera
PORT=3000

# Połączenie z bazą danych (Baza: erp_main)
DATABASE_URL="postgresql://login:haslo@localhost:5432/erp_main?schema=public"

BETTER_AUTH_SECRET=dlugie1haslo1wygenerowane1przez1prisme
BETTER_AUTH_URL=http://localhost:3000